# Protect the htaccess file
<Files .htaccess>
Order Allow,Deny
Deny from all
</Files>

# Protect config.json
<Files ./config.json>
Order Allow,Deny
Deny from all
</Files>

# Protect composer.json
<Files ./composer.json>
Order Allow,Deny
Deny from all
</Files>

# Protect composer.lock
<Files ./composer.lock>
Order Allow,Deny
Deny from all
</Files>

# Protect Makefile
<Files ./Makefile>
Order Allow,Deny
Deny from all
</Files>

# Disable directory browsing
Options All -Indexes